{% extends '::layout.html.twig' %}

{% import '::utils.html.twig' as utils %}

{% block content %}
<h1 class="page-header">
    « {{ repository.identifier }} »
    <a href="{{ path('repositories_edit', {identifier: repository.identifier}) }}" class="btn btn-default pull-right">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
</h1>

<h2>Configuration</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Identifier</th>
            <td><code>{{ repository.identifier }}</code></td>
        </tr>
        <tr>
            <th>Shared secret</th>
            <td><code>{{ repository.sharedSecret }}</code></td>
        </tr>
        <tr>
            <th>Actions</th>
            <td>
                <form method="POST" action="{{ path('repositories_setup_webhook', {'identifier': repository.identifier}) }}">
                    <input type="submit" class="btn btn-warning btn-sm" value="Setup webhook" />
                </form>
            </td>
        </tr>
    </table>
</div>

<h2>Inspections</h2>

<div class="inspections table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Created at</th>
                <th>Started at</th>
                <th>Finished at</th>
                <th>Status</th>
                <th>Result</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for inspection in repository.inspections %}
            <tr class="{{ utils.class_for_integration_status(inspection.status) }}">
                <td><span class="label label-primary">{{ utils.inspection_type(inspection) }}</span> {{ inspection.id }}</td>
                <td>{{ inspection.createdAt|date }}</td>
                <td>
                    {% if inspection.startedAt %}
                        {{ inspection.startedAt|date }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if inspection.finishedAt %}
                        {{ inspection.finishedAt|date }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <code>{{ inspection.status }}</code>
                </td>
                <td>
                    {% if inspection.hasReport %}
                        {{ utils.report_status_label(inspection.report) }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if inspection.status == 'failed' or inspection.status == 'finished' %}
                        <form method="POST" action="{{ path('inspection_retry', {'id': inspection.id}) }}">
                            <input type="submit" class="btn btn-warning btn-sm" value="Retry" />
                        </form>
                    {% endif %}

                    {% if inspection.hasReport %}
                        <a href="{{ path('report_detail', {'id': inspection.report.id}) }}" class="btn btn-primary btn-sm">Report</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No inspection yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}