{% extends '::layout.html.twig' %}

{% block content %}
<h1 class="page-header">Add member to team « {{ team.name }} »</h1>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                        <input type="text" class="form-control" id="user-search" placeholder="Search…">
                    </div>
                </div>
            </form>

            <ul id="users-list">
            </ul>

            <form style="display: none" id="team-add-member" action="{{ path('teams_members_create', {'id': team.id}) }}" method="POST">
                <input type="hidden" name="new_member_id"  />
            </form>
        </div>

        <div class="col-sm-6">
            <h3>Current members</h3>

            <ul id="members-list">
                {% for member in team.members %}
                    <li>
                        <span class="name">{{ member.username }}</span>
                        <button type="button" data-identifier="{{ member.id }}" class="remove-user btn btn-danger btn-xs">Remove</button>
                    </li>
                {% else %}
                    <li>No member.</li>
                {% endfor %}
            </ul>

            <form style="display: none" id="team-remove-member" action="{{ path('teams_members_remove', {'id': team.id}) }}" method="POST">
                <input type="hidden" name="member_id"  />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('bundles/regisapp/js/team_add_member.js') }}"></script>
    <script src="{{ asset('bundles/regisapp/js/team_remove_member.js') }}"></script>
{% endblock %}
