{% extends '::layout.html.twig' %}

{% import '::utils.html.twig' as utils %}

{% block content %}
<h1 class="page-header">
    « {{ repository.name }} »
    <a href="{{ path('repositories_config', {id: repository.id}) }}" class="btn btn-default pull-right">
        <i class="glyphicon glyphicon-cog"></i>
    </a>
</h1>

{% if repository.flightModeEnabled %}
    {% include 'RegisAppBundle:Repositories:_flight_mode_notification.html.twig' %}
{% endif %}

<h2>Inspections</h2>

<div class="inspections table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Created at</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Result</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for inspection in repository.inspections %}
            <tr class="{{ utils.class_for_integration_status(inspection.status) }}">
                <td>
                    <span class="label label-primary">{{ utils.inspection_type(inspection) }}</span>
                    <a href="{{ path('inspection_detail', {'id': inspection.id}) }}">#{{ inspection.number }}</a>
                </td>
                <td>{{ inspection.createdAt|date }}</td>
                <td>
                    {% if inspection.finished %}
                        {{ inspection.duration|duration }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <code>{{ inspection.status }}</code>
                </td>
                <td>
                    {% if inspection.hasReport %}
                        {{ utils.report_status_label(inspection.report) }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if inspection.finished %}
                        <form method="POST" action="{{ path('inspection_retry', {'id': inspection.id}) }}" class="force-inline">
                            <input type="submit" class="btn btn-warning btn-sm" value="Retry" />
                        </form>
                    {% endif %}

                    <a href="{{ path('inspection_detail', {'id': inspection.id}) }}" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No inspection yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
