{% extends '::layout.html.twig' %}

{% import '::utils.html.twig' as utils %}

{% block content %}
<h1 class="page-header">Repositories</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Repository</th>
            </tr>
        </thead>
        <tbody>
        {% for repo in repositories %}
            <tr>
                <td>
                    <span class="label label-primary">{{ utils.repository_type(repo) }}</span>
                    <a href="{{ path('repositories_detail', {id: repo.id}) }}">{{ repo.name }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No repository yet, <a href="{{ path('repositories_new') }}" class="btn btn-sm btn-primary">add one!</a></td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td><a href="{{ path('repositories_new') }}" class="btn btn-primary">Add new</a></td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
