{% extends '::layout.html.twig' %}

{% block page_id %}new-repository{% endblock %}

{% block content %}
<h1 class="page-header">Select a repository</h1>

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input type="text" class="input-lg form-control" id="repository-search" placeholder="Search…">
        </div>
    </div>
</form>

<div id="repositories-list">
    <span>Loading...</span>
</div>

<form style="display: none" id="repository-create" action="{{ path('repositories_create') }}" method="POST">
    <input type="hidden" name="type"  />
    <input type="hidden" name="identifier"  />
    <input type="hidden" name="name"  />
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script src="{{ asset('bundles/regisapp/js/new_repository.js') }}"></script>
{% endblock %}
